:root {
    --jvm-background-transparent: transparent;
    --jvm-background-primary: rgb(255, 255, 255);
    --jvm-background-secundary: rgb(11, 47, 75);
    --jvm-background-1: rgb(255, 255, 255);
    --jvm-background-2: rgb(25, 97, 172);
    --jvm-background-3:rgb(8, 40, 64);
    --jvm-background-4: rgb(17, 124, 167);
    --jvm-background-5: rgb(149, 194, 61);
    --jvm-background-6: rgb(227, 239, 247);
    --jvm-background-7: rgb(44, 113, 165);
    --jvm-background-8: rgba(255, 255, 255, 0.30);
    --jvm-background-9: rgb(36, 100, 64);
    --jvm-background-10: rgb(88, 177, 245);
    --jvm-background-11: rgb(228, 232, 232);
    --jvm-background-12: rgb(0, 154, 68);
    --jvm-background-13: rgb(25, 97, 172, 0.6);
    --jvm-background-14: rgb(242, 133, 34);
    --jvm-background-15: rgb(255, 181, 3);
    --jvm-background-16: rgb(247, 250, 253);
    --jvm-background-17: rgb(213, 219, 71, 0.1);
    --jvm-background-18: rgb(0, 155, 217, 0.3);
    --jvm-background-19: rgb(0, 155, 217, 0.2);
    --jvm-background-20: rgb(0, 155, 217, 0.1);
    --jvm-background-21: rgb(25, 97, 172);
    --jvm-background-22: rgb(25, 97, 172, 0.1);
    --jvm-background-23: rgba(0, 0, 0, 0.20);
    --jvm-background-24: rgba(255, 255, 255, 0.3);
    --jvm-background-25: rgb(176, 183, 187, 0.2);
    --jvm-background-26: rgb(176, 183, 187);
    --jvm-background-27: rgb(176, 183, 187, 0.15);
    --jvm-background-28: rgb(176, 183, 187, 0.5);
    --jvm-color-text-primary: rgb(74, 79, 84);
    --jvm-color-text-secundary: rgb(25, 97, 172);
    --jvm-color-text-1: rgb(255, 255, 255);
    --jvm-color-text-2: rgb(73, 202, 129);
    --jvm-color-text-3: rgb(44, 113, 165);;
    --jvm-color-text-4: rgb(0, 0, 0);
    --jvm-color-text-5: rgb(11, 47, 75);
    --jvm-color-text-6: rgb(25, 97, 172, 0.5);
    --jvm-color-text-7: rgb(176, 183, 187);
    --jvm-color-text-8: rgb(88, 177, 245);
    --jvm-color-text-9: rgb(44, 113, 165);
    --jvm-color-text-10: rgb(0, 154, 68);
    --jvm-borde-1: rgb(255, 255, 255);
    --jvm-borde-2: rgb(255, 255, 255, 0.4);
    --jvm-borde-3: rgb(44, 113, 165);;
    --jvm-borde-4: rgba(255, 255, 255, 0.6);
    --jvm-borde-5: rgb(105, 104, 108);
    --jvm-borde-6: rgb(74, 79, 84);
    --jvm-borde-7: rgb(74, 79, 84, 0.6);
    --jvm-borde-8: rgb(176, 183, 187);
    --jvm-borde-9: rgb(0, 155, 217);
    --jvm-box-shadow: rgb(228, 232, 232);
    --jvm--font-size-1: 0.625rem;
    --jvm--font-size-2: 0.75rem;
    --jvm--font-size-3: 0.875rem;
    --jvm--font-size-4: 1rem;
    --jvm--font-size-5: 1.125rem;
    --jvm--font-size-6: 1.25rem;
    --jvm--font-size-7: 1.5rem;
    --jvm--font-size-8: 1.625rem;
    --jvm--font-size-9: 2rem;
    --jvm--font-size-10: 2.25rem;
    --jvm--font-size-11: 3rem;
    --jvm--font-size-12: 4rem;
    --jvm--container: min(100%, 1076px);
    --jvm--width: min(100%, 100%);
    --jvm--height: 100%;
    --jvm--content-caption: min(100%, 555px);
    --jvm--height-caption: 324px;
    --jvm--content-caption-interna: min(100%, 500px);
    --jvm--height-caption-interna: fit-content;
    --jvm--mrgt0: 0;
    --jvm--mrgt1: 1rem;
    --jvm--mrgt1-5: 1.5rem;
    --jvm--mrgt2: 2rem;
    --jvm--mrgt2-5: 2.5rem;
    --jvm--mrgb0: 0;
    --jvm--mrgb1: 1rem;
    --jvm--mrgb1-5: 1.5rem;
    --jvm--mrgb2: 2rem;
    --jvm--mrgb2-5: 2.5rem;
}